
    <div class="row">
      <div class="col-xs-0 col-sm-12 col-md-4 col-lg-4 col-xl-3">
        <div class="col-12 barra-contact">
          <ul class="list-group pull-down" id="contact-list">
              <li class="list-group-item" *ngFor="let item of Usuario">
                <a (click)="mandar(item.id , item.nickname)">
                    <div class="row w-100">
                        <div class="col-12 col-sm-6 col-md-3 px-0">
                            <img src="https://maljikakamra.com/admin/control/images/user.png" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                        </div>
                        <div class="pointer col-12 col-sm-6 col-md-9 text-center text-sm-left">

                              <span class="name fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
                              <label class="pointer name lead">{{item.nickname}}</label>
                              <br>

                        </div>
                    </div>
                </a>

              </li>

          </ul>
      </div>
      <div class="col-12 barra-contact-grupos">
        <ul class="list-group pull-down" id="contact-list">
            <li class="list-group-item" *ngFor="let grupo of grupos">
                  <div class="row w-100">
                      <div class="col-12 col-sm-6 col-md-3 px-0">
                          <img src="https://maljikakamra.com/admin/control/images/user.png" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                      </div>
                      <div class="pointer col-12 col-sm-6 col-md-9 text-center text-sm-left" (click) = "irGrupo(grupo.id)">
                            <span class="name fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
                            <label class="pointer name lead">{{grupo.nombre_grupo}}</label>
                            <br>
                      </div>
                  </div>
            </li>

        </ul>
    </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 chat "  *ngIf="mensajes ; else principal" >
          <div class="row bg-dark badge-dark animated fadeIn rounded-bottom shadow" style="height: 100vh">
              <div class="text-center col-12 ">
                <p class="lead p-3 ">{{ this.MensajeTitulo }}</p>
              </div>
              <div class="col-12 d-flex flex-column" *ngIf="this.mensajes.length > 0; else sinMensajes" >
                  <div class=" text-right bd-highlight overflow-auto"  >
                    <div class="" *ngFor="let item of mensajes">
                      <h6 class=" animated slideRight"> <b>{{ item.usuario }}</b> {{ ": "+ item.mensaje }}  </h6>
                    </div>
                  </div>
              </div>
              <ng-template #sinMensajes>
                <div class="col-12 d-flex flex-column align-content-center align-self-center"  >
                    <div class="text-center animated bounce  ">
                        <p class="lead ">No tienen mensajes aún </p>
                        <i class=" fa fa-whatsapp" style="font-size: 60px;"></i>
                    </div>
                </div>
              </ng-template>

              <div class="col-12 d-flex flex-column align-self-end ">
                <form action="">
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                          <button type="button" class="btn-dark">
                              <i class=" fa fa-camera" style="font-size: 30px; color: white;"></i>
                            </button>
                      </div>
                      <div class="col-10">
                        <input type="text" [(ngModel)]="mensaje" name="mensaje" placeholder="Escribe el mensaje aquí" class="form-control rounded shadow-sm">
                      </div>
                      <div class="col">
                        <button type="button" (click)="agregar()" class="btn-dark">
                          <i class=" fa fa-arrow-circle-right" style="font-size: 30px; color: white;"></i>
                        </button>

                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

      </div>

      <ng-template #principal>

      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 chat "  >
          <div class="row bg-dark badge-dark animated fadeIn rounded-bottom shadow" style="height: 100vh" >
              <div class="col-12 d-flex flex-column align-content-center align-self-center" >
                  <div class="text-center animated bounce  ">
                      <p class="lead ">Elige a un amigo para empezar a hablar </p>
                      <i class=" fa fa-smile-o" style="font-size: 60px;"></i>
                  </div>
              </div>
          </div>
      </div>
      </ng-template>

    </div>


