.barra-contact{
    height: 100vh;
    overflow-y: scroll;
    width: 100vh;
}

.pointer{
    cursor:pointer;
}

.name{
    margin-top:19px;
}

.container-fluid{
    margin:0;
}

.barra{
    background-color:rgb(231, 231, 231);
    padding-left:100px;
}



.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn-dark {
  padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
