
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
        <div class="row overflow-auto ">
            <!-----------BARRA LATERAL IZQUIERDA------->
              <div class="col-12 barra-contact">

                <!--------NICKNAME Y CERRAR SESIÓN------>
                <div class="row barra">
                  <div class="addgroup col">
                    <img (click)=CrearGrupo() class="gruposimg" src="https://image.flaticon.com/icons/png/512/33/33308.png" alt="imagen">
                  </div>
                  <div class="col-6 nickname" >
                    <h6 class="display-9">{{this.nick}}</h6> <span class="dot"></span>
                  </div>
                  <div class="col signout">
                    <img class="salir" (click)="CerrarSesion()" src="https://cdn4.iconfinder.com/data/icons/miu/24/common-logout-signout-exit-glyph-512.png" alt="">
                  </div>
                </div>

                <!---------------BARRA DE CONTACTOS--------------->
                <div class="lista">
                  <ul class="list-group" id="contact-list">
                    <li class="list-group-item contacto" *ngFor="let item of Usuario">
                      <a (click)="ClickUsuario(item)" class="contacto">
                        <div class="row w-100">
                          <div class="col-12 col-sm-6 col-md-3 px-0">
                              <img src="https://img.icons8.com/bubbles/2x/user.png" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                          </div>
                          <div class="pointer col-12 col-sm-6 col-md-9 text-center text-sm-left namecontact">
                                <span class="name fa fa-user fa-2x text-secondary float-right pulse" title="online now"></span>
                                <label class="pointer name lead">{{item.nickname}}</label>
                                <br>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>

                <!-----------------BARRA DE GRUPOS----------------->
                <div style="align-content: center"><h4>Grupos</h4></div>
                <div class="lista">
                    <ul class="list-group" id="contact-list">
                      <li class="list-group-item contacto" *ngFor="let grupo of grupos">
                        <a (click)="irGrupo(grupo.id)" class="contacto">
                          <div class="row w-100">
                            <div class="col-12 col-sm-6 col-md-3 px-0">
                                <img src="https://img.icons8.com/bubbles/2x/user.png" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                            </div>
                            <div class="pointer col-12 col-sm-6 col-md-9 text-center text-sm-left namecontact">
                                  <span class="name fa fa-group fa-2x text-success float-right pulse" title="online now"></span>
                                  <label class="pointer name lead">{{grupo.nombre_grupo}}</label>
                                  <br>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
              </div><!--FIN BARRA IZQUIERDA-->
        </div>

      </div><!--FIN BARRA IZQUIERDA-->


        <!------------------------CHAT------------------------>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 chat" *ngIf="Arreglo ; else principal" >
            <div class="row bg-dark badge-dark animated fadeIn rounded-bottom shadow " >
                <div class="col-12 d-flex flex-column" >
                    <div class="text-center  ">
                        <p class="lead p-3 ">{{ this.MensajeTitulo }}</p>
                    </div>
                    <div class=" text-right bd-highlight overflow-auto" style="height: 90vh" >
                      <div style="margin: 10px;" class="" *ngFor="let item of Arreglo">
                        	<div *ngIf="item.mensaje.indexOf('.png') !== -1 || item.mensaje.indexOf('.jpeg') !== -1 || item.mensaje.indexOf('.jpg') !== -1">
                              <b>{{ item.usuario }}</b><br>
                              <img style="    width: 16rem;
                              border-radius: 1rem;" src="http://localhost:3333{{item.mensaje}}" alt="imagen">
                            </div>
                            <div *ngIf="item.mensaje.indexOf('.mp3') !== -1">
                              <b>{{ item.usuario }}</b><br>
                              <audio controls src="http://localhost:3333{{item.mensaje}}"></audio>
                            </div>
                            <div *ngIf="item.mensaje.indexOf('.mp4') !== -1 || item.mensaje.indexOf('.avi') !== -1">
                              <b>{{ item.usuario }}</b><br>
                              <video controls src="http://localhost:3333{{item.mensaje}}"></video>
                            </div>
                        <h6 *ngIf="!( item.mensaje.indexOf('.png') !== -1 || item.mensaje.indexOf('.jpeg') !== -1 || item.mensaje.indexOf('.jpg') !== -1 || item.mensaje.indexOf('.mp3') !== -1 || item.mensaje.indexOf('.mp4') !== -1)" class=" animated slideRight">
                          <b>{{ item.usuario }}</b> {{ ": "+ item.mensaje }}
                        </h6>
                      </div>
                      <div id="llega"></div>
                    </div>
                </div>
                <div>
                  <p>{{typing}}</p>
                </div>
                <div class="col-12 align-items-end justify-content-end align-content-end">
                  <form action="">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col upload-btn-wrapper">
                                <button class="btn-success">
                                    <i class=" fa fa-camera" style="font-size: 30px; color: white;"></i>
                                  </button>
                                  <input type="file" name="myfile" accept="image/*" (change)="guardarimagen($event)" />
                            </div>

                          <div class="col upload-btn-wrapper">
                              <button class="btn-primary">
                                  <i class=" fa fa-file" style="font-size: 30px; color: white;"></i>
                                </button>
                                <input type="file" name="myfile" accept="video/*" (change)="guardarvideo($event)" />
                          </div>

                        <div class="col upload-btn-wrapper">
                            <button class="btn-warning">
                                <i class=" fa fa-headphones" style="font-size: 30px; color: white;"></i>
                              </button>
                              <input type="file" name="myfile" accept="audio/*" (change)="guardaraudio($event)" />
                        </div>

                        <div class="col-9">
                          <input type="input" [(ngModel)]="mensaje" id="msjbox" (keyup.enter)="agregar()" name="mensaje" placeholder="Escribe el mensaje aquí" class="form-control rounded shadow-sm">
                        </div>
                        <div class="col">
                          <button type="button" (click)="agregar()" class="btn-dark">
                            <i class=" fa fa-arrow-circle-right" style="font-size: 30px; color: white;"></i>

                          </button>
                        </div><br>

                      </div>
                    </div>
                  </form>
                </div>
            </div>
      </div><!---FIN CHAT-->

      <ng-template #principal>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 chat "  >
            <div class="row bg-dark badge-dark animated fadeIn rounded-bottom shadow" style="height: 100vh" >
                <div class="col-12 d-flex flex-column align-content-center align-self-center" >
                    <div class="text-center animated bounce  ">
                        <p class="lead ">Elige un amigo para empezar a hablar </p>
                        <i class=" fa fa-smile-o" style="font-size: 60px;"></i>
                    </div>
                </div>
            </div>
        </div>
      </ng-template>

    </div><!------FIN ROW------->



