.barra-contact{
    height: 100vh;
    overflow-y: scroll;
    width: 100vh;
}

.pointer{
    cursor:pointer;
}

.name{
    margin-top:19px;
}

.container-fluid{
    margin:0;
}

.barra{
    background-color:rgb(231, 231, 231);
    padding-left:100px;
}
