<div class="align-items-center content">
    <div class="offset-1 col-xl-10 col-lg-10 col-md-10 col-xs-10">
      <div class="row">
          <div class="col-5 texto" >
              <h1 class="display-3" style="font-size: 3.5rem;">LAME PACKS <br> LAME</h1>
              <p class="text-secondary">
               LAME PACKS es una aplicación de mensajería <br>
                <span class="text-primary">
                  para sitios web. 
                </span><br>
                Envía y recibe mensajes mediante Internet.
              </p>
              <div class="d-inline-flex">
                <button (click)="IniciarSesion()" class="btn btn-success">Iniciar Sesión</button>
                <button (click)="Registrarse()" class="btn btn-primary">Registrate</button>
              </div>
          </div>
            <div class="d-none d-lg-block d-xl-none d-none d-xl-block col-lg-7 col-md-7 col-xs-7">
              <img transform="matrix(1.4462 0 0 1.4448 290.09 0)" class=" imagen" src="https://d39l2hkdp2esp1.cloudfront.net/img/photo/145872/145872_00_2x.jpg?20180604114948" alt="People Laughing">
            </div>
      </div>
    </div>
  </div>



