<div class="row align-items-center">
    <div class="col-xl-12 col-lg-10 col-md-8" style="border-style: solid; border-width: 1px; border-color:red;">
      <div class="col-xl-5">
        <h1 class="display-3" style="font-size: 3.5rem;">WhatsApp <br> LAME</h1>
        <p class="text-secondary">
          Whatsapp es una aplicación de mensajería
          <span class="text-primary">
            para teléfonos inteligentes. 
          </span> 
          Envía y recibe mensajes mediante Internet.
        </p>
        <div class="d-inline-flex " style="border-style: solid; border-width: 1px; border-color:blue; ">
          hey hola jei puñetas
        </div>
      </div>
    </div>
  </div>




<div class="col-lg-5">
  <h1 class="display-4 font-size-md-down-5 mb-3">Introducing Front</h1>
  <p>
    Your company will look
    <span class="text-primary">
      <strong class="u-text-animation u-text-animation--typing">astonishing.</strong><span class="typed-cursor typed-cursor--blink">|</span>
    </span>
    <br>
    Attract more visitors, and win more business with Front template.
  </p>

  <div class="d-flex align-items-center flex-wrap">
    <a class="btn btn-soft-primary btn-wide transition-3d-hover" href="../pages/login-simple.html">Get Started</a>

    <!-- Fancybox -->
    <a class="js-fancybox media align-items-center u-media-player min-width-21 ml-3" href="javascript:;" data-src="//vimeo.com/167434033" data-speed="700" data-animate-in="zoomIn" data-animate-out="zoomOut" data-caption="Front - Responsive Website Template">
      <span class="u-media-player__icon u-media-player__icon--success mr-3">
        <span class="fas fa-play u-media-player__icon-inner"></span>
      </span>
      <span class="media-body">
        Play video
      </span>
    </a>
    <!-- End Fancybox -->
  </div>
</div>