.texto{
    margin-top: 15%;
}

.texto p{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}
.imagen{
    width: 60%;
    height: 70%;
    border-radius: 50%;
    margin-top:25%;
    margin-left:10%;
}

.btn{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.btn-success{
    color: #377dff;
    background: rgba(55, 125, 255, 0.1);
    border-color: transparent;
    vertical-align: middle;
    padding: 0.75rem 1rem;
}

.btn-success:hover{
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    color: white;
    background:#00c9a7;
    box-shadow: 0 4px 11px rgba(55, 125, 255, 0.35);
    padding: 0.75rem 1rem;
}

.btn-success:active{
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    color: white;
    background: #377dff;
    box-shadow: 0 4px 11px rgba(55, 125, 255, 0.35);
    padding: 0.75rem 1rem;
}

.btn-primary{
    margin-left: 10vh;
    color: #377dff;
    background: rgba(55, 125, 255, 0.1);
    border-color: transparent;
    vertical-align: middle;
    padding: 0.75rem 1rem;
}

.btn-primary:hover{
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    color: white;
    background: #377dff;
    box-shadow: 0 4px 11px rgba(55, 125, 255, 0.35);
    padding: 0.75rem 1rem;
}
